*.o
*.d
*~
*.flat
*.a
config.mak
.*.cmd
qemu/config-host.h
qemu/config-host.mak
user/test/bootstrap
user/kvmctl
qemu/dyngen
qemu/x86_64-softmmu
qemu/qemu-img
qemu/qemu-nbd
*.ko
*.mod.c
bios/*.bin
bios/*.sym
bios/*.txt
bios/acpi-dsdt.aml
vgabios/*.bin
vgabios/*.txt
extboot/extboot.bin
extboot/extboot.img
extboot/signrom
kernel/config.kbuild
kernel/modules.order
kernel/Module.symvers
kernel/Modules.symvers
kernel/Module.markers
kernel/.tmp_versions
kernel/include-compat/asm
kernel/include-compat/asm-x86/asm-x86
kernel/include
kernel/x86/modules.order
kernel/x86/i825[49].[ch]
kernel/x86/kvm_main.c
kernel/x86/kvm_svm.h
kernel/x86/vmx.[ch]
kernel/x86/svm.[ch]
kernel/x86/mmu.[ch]
kernel/x86/paging_tmpl.h
kernel/x86/x86_emulate.[ch]
kernel/x86/ioapic.[ch]
kernel/x86/iodev.h
kernel/x86/irq.[ch]
kernel/x86/kvm_trace.c
kernel/x86/lapic.[ch]
kernel/x86/tss.h
kernel/x86/x86.[ch]
kernel/x86/coalesced_mmio.[ch]
kernel/x86/kvm_cache_regs.h
kernel/x86/vtd.c
kernel/x86/irq_comm.c
kernel/x86/timer.c
kernel/x86/kvm_timer.h
kernel/x86/iommu.c
qemu/pc-bios/extboot.bin
qemu/qemu-doc.html
qemu/*.[18]
qemu/*.pod
qemu/qemu-tech.html
qemu/qemu-options.texi
user/kvmtrace
user/test/x86/bootstrap
